<h1>Edit existing Track</h1>

<div class="next">
  <%= link_to 'Home', root_path %>
  <%= link_to 'Tracks', tracks_path %>
</div>

<%= render 'form' %>

<style scoped>
  .next{
    margin-right: 100px;
    float: right;
  }
</style>