<h1 align ="center">Tracks</h1>

<p>
  <% if can? :create, Track %>
    <%= link_to 'Create a new Track', new_track_path %>
  <% end %>
</p>

<table>
  <% @tracks.each do |track| %>
    <tr>
      <td><%= link_to track.name, track_path(track) %></td>
      <td><%= link_to 'Edit', edit_track_path(track) if can? :update, track %></td>
      <td><%= link_to 'Delete', track_path(track), method: :delete, data: {confirm: "Are you sure?"} if can? :destroy, track %></td>
    </tr>
  <% end %>
</table>
