<h1>Hello <%= current_user.email %></h1>

<div class="logout">
  <%= link_to 'logout', destroy_user_session_path(@user), method: :delete %>
</div>

<h2>Tracks:</h2>
<div>
  <ol>
    <% @track.each do |track| %>
      <li><%= link_to track.name, track_path(track) %></li>
    <% end %>
  </ol>
</div>


<style scoped>
  .logout{
    margin-right: 100px;
    float: right;
  }
</style>