<div class="next">
    <%= link_to 'Next', id="2" %>
</div>

  <h1><p><%= @track.category %></p></h1>

<p>
  <%= @track.description %>
</p>
<ol>
  <% @track.track_items.each do |track_item| %>
    <li><%= link_to track_item.item %></li>
  <% end %>
</ol>

<style scoped>
  .next{
    margin-right: 100px;
    float: right;
  }
</style>