<div class="next">
  <%= link_to 'Home', root_path %>
  <%= link_to 'Tracks', tracks_path %>
</div>

  <h1><p><%= @track.name %></p></h1>

<ol>
  <% @track.track_items.each do |track_item| %>
    <li><%= link_to track_item.item %></li>
  <% end %>
</ol>

<style scoped>
  .next{
    margin-right: 100px;
    float: right;
  }
</style>