<h1>Track Itemssssss</h1>

<p>
  <% if can? :create, Track %>
		<%= link_to 'Add a new Topic', new_track_item_path(@items) %>
	<% end %>
</p>

<table>
  <% @items.each do |item| %>
	<tr>
	  <td><%= item.topic %></td>
	  <td><%= link_to 'Edit', edit_track_item_path(item) if can? :update, Track %></td>
	  <td><%= link_to 'Delete', track_item_path(item), method: :delete, data: {confirm: "Are you sure?"} if can? :destroy, Track %></td>
    </tr>
  <% end %>
</table>
