<h2 align="center"><%= @item.topic %></h2>

<%  if @item.item_type == "assignment" %>
<%=  	render 'track_items/assignment_form' %>  
<% else %>
<div class="row justify-content-center mt-5">
<%=  link_to 'go to tutorial', @item.source ,class:"btn btn-outline-info"  %>
</div>
<% end %>