<% if current_user %>
<div class="home d-flex justify-content-center align-items-center bg-dark">
	<h1>Welcome <%= current_user.email%>!</h1>
</div>
<% else %>

<div class="home d-flex justify-content-center align-items-center bg-dark">
	<h1>Decabits LMS</h1>
</div>

<% end %>
<style>
	.home{
		height: 88vh;
		background: url("https://images.unsplash.com/photo-1472289065668-ce650ac443d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2000&q=80") no-repeat ;
		background-size: cover;
		
	}
	h1{
		color: black;
		text-align: center;
	}
</style>
